---
layout: main.liquid
title: projects
eleventyNavigation:
  key: projects
  order: 9
---

<h1>{{title}}</h1>
<p>A selected list of projects.</p>



<ol class="project--list serious-business">
{% for project in collections.projects %}
	<li>
		<h3>{{ project.data.title }}
			{% if project.data.where or project.data.when %}({{project.data.where}}{% if project.data.where and project.data.when %}, {% endif %}{{project.data.when}}){% endif %}
		</h3>
		<p>{{ project.data.summary }}</p>
		{% if project.content.length == 0 %}
		<p><em>full case study coming soon</em></p>
		{% else %}
		<p><a href="{{ project.url }}" >  read more</a></p>
		{% endif %}
	</li>
{%  endfor %}
</ol>
