<h3>the posts:</h3>
<ol>
{% if postlist %}
{% for post in postlist %}
<li>
	{% comment %} <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time><a href="{{post.url}}">{{post.data.title}}</a> {% endcomment %}
	{{post.date | readableDate: "LLLL d yyyy" }} <a href="{{post.url}}">{{post.data.title}}</a>
</li>
{% endfor %}
{% else %}
no posts :(
{% endif %}
</ol>