<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	{% comment %} <link rel="preload" href="/fonts/IBMPlexMono-Text.woff2" as="font" type="font/woff2" crossorigin> {% endcomment %}
	<style>
		/* header ul.navigation{display: inline; display: inline;} */
		/* header ul.navigation li{display: inline-block; float: none; font-style: italic; margin-right: 2em;} */
		/* header ul.navigation li.navigation--item__current{font-weight: bold;} */
		@font-face {
		font-family: IBM-Plex-Mono;
		src: url('/fonts/IBMPlexMono-Text.woff2') format('woff2');
		}
		@font-face {
		font-family: IBM-Plex-Mono;
		src: url('/fonts/IBMPlexMono-TextItalic.woff2') format('woff2');
		font-style: italic;
		}
		@font-face {
		font-family: IBM-Plex-Mono;
		src: url('/fonts/IBMPlexMono-Bold.woff2') format('woff2');
		font-weight: bold;
		}
		@font-face {
		font-family: IBM-Plex-Mono;
		src: url('/fonts/IBMPlexMono-BoldItalic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic; 
		}
		
		body{
			max-width: 80vw;
			margin: 0 auto;
			font-family: IBM-Plex-Mono;
			font-size: .85em;
		}
		
		ul.navigation{margin-bottom: 1em;}
		
		main{margin-top: 2em;}
	</style>
</head>
<body>
	<header>
	<ul class="navigation">
	{% assign navPages = collections.all | eleventyNavigation %}
	{%- for entry in navPages %}
		{% if not entry.hide %}
		<li class="navigation--item{% if entry.url == page.url %} navigation--item__current{% endif %}">
		<a href="{{entry.url}}">{% if entry.title %}{{entry.title}}{% else %}{{entry.url}}{% endif %}</a> {% if entry.url == page.url %} ← {% endif %}
		</li>
		{% endif %}

	{%- endfor %}
	</ul>

	</header>

	{{ content }}

	{% render "under-construction.liquid" %}
</body>
</html>