<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title %}{{title}}{% elsif eleventyNavigation.key %}{{eleventyNavigation.key}} on {{metadata.title}}{% else %}{{metadata.title}}{% endif %}</title>
	{% comment %} <link rel="preload" href="/fonts/IBMPlexMono-Text.woff2" as="font" type="font/woff2" crossorigin> {% endcomment %}
	<link href="/main.css" rel="stylesheet" />
	<style>
	</style>
	{% comment %} for the top level {% endcomment %}
	<meta property="og:site_name" content="{{metadata.title}}">
	<meta property="og:locale" content="en_US">

	{% comment %} for pages {% endcomment %}
	<meta property="og:title" content="{% if title %}{{title}}{% elsif eleventyNavigation.key %}{{eleventyNavigation.key}} on {{metadata.title}}{% else %}{{metadata.title}}{% endif %}">

	{% if og.type %}<meta property="og:type" content="{{og.type}}">{% endif %}
	<meta property="og:url" content="{{metadata.url}}{{page.url}}">

	{% if og.image %}<meta property="og:image" content="{{og.image}}">{% endif %}

	<meta property="og:description" content="{% if og.description %}{{og.description | escape}}{% elsif description %}{{description | escape}}{% else %}{{content | truncate: 400 | strip_html | escape}}{% endif %}">

	{% comment %} for posts {% endcomment %}
	{% if published %}<meta property="og:article:published_time" content={{published | json}}>{% endif  %}
	{% if updated %}<meta property="og:article:modified_time" content="{{updated}}">{% endif %}
	<meta property="og:article:author" content="{% if author %}{{author}}{% else %}{{metadata.author.name}}{% endif %}">

	{% comment %}
	<meta property="og:article:section" content="">
	<meta property="og:article:tag" content="">
	{% endcomment %}

	{% comment %} for books {% endcomment %}
	{% comment %}
	<meta property="book:author" content="">
	<meta property="book:isbn" content="">
	<meta property="book:release_date" content="">
	<meta property="book:tag" content="">
	{% endcomment %}
	<meta name="tdm-reservation" content="1">
	<!-- 0 = TDM allowed; 1 = reserved -->
	<!--<link rel="tdm-policy" href="/tdm-policy"> -->
</head>
<body>
	<header>
	<ul class="navigation">
	{% assign navPages = collections.all | eleventyNavigation %}
	{%- for entry in navPages %}
		{% if not entry.hide %}
		<li class="navigation--item{% if entry.url == page.url %} navigation--item__current{% endif %}">
		<a href="{{entry.url}}">{% if entry.title %}{{entry.title}}{% else %}{{entry.url}}{% endif %}</a> {% if entry.url == page.url %} ← {% endif %}
		</li>
		{% endif %}

	{%- endfor %}
	</ul>

	</header>

	{{ content }}

	{% render "under-construction.liquid" %}
</body>
</html>
