---
layout: main.liquid
---

<article class="{{type}}">
<header>
<h1>{{title}}</h1>
originally published: 
<time datetime="{{published}}">{{published | readableDate: "LLLL d yyyy" }}</time> <a href="{{url}}" title="direct link">#</a>
</header>
<main>
{{content}}
</main>
</article>