---
layout: main.liquid
---

<article class="{{type}}">
<header>
<h1>{{title}}</h1>
originally published: 
<time class="dt-published" datetime="{{published}}">{{published | readableDate: "LLLL d yyyy" }}</time> <a href="{{url}}" class="u-url" rel title="direct link">#</a>
<div>by <a href="{{ "/about" | url }}" rel="author" class="p-name">justin</a></div>
</header>
<main class="e-content">
{{content}}
</main>
</article>